body{
    background-color: #bacbdb;
}

h1{
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    padding-top: 20px;
    text-align: center;
}

.description,
label {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}
